body{
    padding: 0;
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
.heada{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #713d92;
    height: 60px;
    z-index: 100;
}
.heada p{
    font-size: 15px;
    color: white;
    margin-right: 15px;
}
.heada img{
    width: 25px;
    height: 25px;
}
.pilogo2{
    margin-right: 15px;
}
.back{
    
    margin-left: 20px;
}
.dropdown{
    margin-right: 20px;
}
.midsec{
    display: flex;
    align-items: center;
    
}
.midsec img{
    width: 25px;
    height: 25px;
}
.midsec img:last-child{
    width:20px;
    height:20px;
}

.headd{
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.bodydiv{
    position: relative;
    top: 50px;
    display: flex;
    flex-direction: column;
  
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.seedphrase{
    width: 72%;
    height: 230px;
    border: solid 1px black;
    border-radius:8px;
    padding: 15px;
    font-size: 22.5px;
    resize: none;
    margin-bottom: 40px;
}

.seedphrase::placeholder{
    color: rgb(147, 144, 144);
}

.unlockbtn{
    background-color: #713d92;
    border: none;
    color: white;
    height: 58px;
    width:89%;
    border-radius: 12px;
    font-size: 14px;
}
.Textsec{
    margin-top: 30px;
    width: 89%;
    font-size: 15px;
    line-height: 32px;
    margin-left: 5%;
}
.Textsec span{
    color: blue;
}
